body {
    background-color: #f5f5f5;
}
.inner_c {
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
    &::after {
        content: " ";
        clear: both;
        visibility: hidden;
        height: 0px;
    }
}
.cl {
    clear: both;
}
button {
    cursor: pointer;
}
.text-button {
    border-color: transparent;
    outline: none;
    background-color: transparent;
}
.main-container {
    box-sizing: border-box;
	min-height: 100vh;
	padding: 60px 0 50px;
	margin-top: -60px;
	margin-bottom: -50px;
}
.line1 {
    height: 1px;
    background-color: #d7e0f0;
    margin: 20px 20px;
}
