html,
body,
ul,
ol,
li,
table,
tr,
td,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
body {
    background-color: #e6e6f600;
    font-size: 14px;
    font-family: "Arial","Microsoft Yahei","SimSun";
}
ul,
ol {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}
